.container {
    width: 95vw;
    @media (min-width: 650px){
        width: 98vw;
    }
    img {
        height: 25vh;
        width: 95vw;
        object-fit: cover;
        @media (min-width: 650px){
            width: 98vw;
        }
    }
    margin-top: 2.5vw;
    margin-left: auto;
    margin-right: auto;
}